<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <style>
        nav{
            display: flex;
            justify-content:flex-end;
            gap: 2rem;
            padding: 1rem;
            font-size: 2rem;
            color: white;
        }
        nav>p:hover{
            cursor: pointer;
            color: red;
        }
    </style>
</head>
<body>
    <nav>
        <p>Home</p>
        <p>Contact us</p>
        <p>Profile</p>
        <p>About</p>
    </nav>
</body>
</html>